.root-hero {
  position: relative;
  z-index: 1;
}

.root-hero::before {
  background-color: #5200ee;
  position: absolute;
  content: "";
  top: 0;
  left: 65%;
  width: 100%;
  height: 100%;
  transform: skewX(150deg);
  z-index: -1;
}
.typed-cursor {
  font-size: 40px;
  font-family: "calibri";
}

@media only screen and (max-width: 600px) {
  .typed-cursor {
    font-size: 20px !important;
    font-family: "calibri";
  }
}

@media only screen and (max-width: 900px) {
  .typed-cursor {
    font-size: 30px;
    font-family: "calibri";
  }
}
